.log-title {
  color: #fff;
}

.log-description {
  color: #fff;
}

.log-container {
  margin-top:70px;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.log-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  border-radius: 10px;
  background-color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 35px;
  padding-bottom: 35px;
  width:200px;
  /* width: 35%; */
}

.log-fields {
  display: flex;
  flex-direction: column;
}

.log-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.show-password{
  display: flex;
  font-size: 12px;
  margin-top: 5px;
  padding: 3px;
}

.show-password p {
  margin-left: 2px;
}

.cad-title {
  color: #fff;
  margin-top: 8px;
  margin-bottom: 5px;
}

.log-btn{
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: black;
  /* padding: 8px 20px; */
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
  padding: 12px 26px;
  font-size: 20px;
}

.log-btn:hover{
  transition: all 0.3s ease-out;
  background: #fff;
  color: rgb(52, 118, 233);
  transition: 250ms;
}